<h1><%= @product.title.capitalize %></h1>

	<%= @product.description %><br />
	<%= @product.formatted_price %><br />

<%= link_to "Back to Products", products_url %><br />
<%= link_to "Edit Product", edit_product_path %><br />
<%= link_to "Delete Product", @product, :confirm => "Are you sure?", :method => :delete %>
